@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Michroma&family=Orbitron:wght@400;500;600&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Feonie';
  src: url('/fonts/feonie.otf') format('opentype'),
       url('/fonts/feonie.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-cinzel: "Cinzel", serif;
  --font-michroma: "Michroma", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
  --font-feonie: "Feonie", sans-serif;
}
